.profile{
    width: 800px;
    border: 2px solid;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    background: #fff;
    &:hover{
        background: #000;
        color: #fff;
    }
}
.new-profile{
    width: 800px;
    text-align: center;
    padding: 20px;
    border: 2px solid #004eff;
    border-radius: 20px;
    margin-top: 50px;
    cursor: pointer;
    background: #fff;
    text-decoration: none;
    color: #004eff;
    &:hover{
        background: #004eff;
        color: #fff;
    }
}